/*HEADER*/
#logoNav {
    background: #b0b2b469;
}

#logoNav a {
    color: white !important;
}

body {
    min-width: 300px;
}

div#vistaCrearCRUD,
div#vistaModificarCRUD,
div#vistaListaCRUD {
    display: none;
}


